h1,
nav{
    text-align: center;
}

h1 {
    color: brown;
}

a{
    text-decoration: none;
}

img {
    display: block;
    margin: 0 auto;
}


.figma{
    display: block;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
}

