
/* Body */
.video-container{
    @include template-flex(column);
    align-items: start;
    margin-top: $body_mt;
    gap: $body_gap_con;
}

.media-youtube{
    display: block;
}

.video-text{
    @include template-grid(2);
    align-items: center;
    gap: $body_gap;
}
