.categorias{
    width: 100%;
    a{
        display: block;
        text-align: center;
        padding: 20px;
        text-decoration: none;
        font-size: 20px;
        &:hover{
            color: $black;
            border-bottom-right-radius: 10px; 
        }
    }
}

.lista-categorias{
    @include template-grid(3);
    gap: 2rem;
}
