$title-special-font: "Itim";
$title-sec: 'Helvetica';
$text-important: "Baskerville";
$text-general: "Quicksand";

$white: #fff;
$black: #000;
$brown: #953b3b;
$red: #f40707;
$green_back: #d3df9d;
$carousel_text: #991f1f;
$form_header: #037bc0;

$body_mt: 2rem;
$body_gap_con: 2rem;
$body_gap: 1rem;

$footer_mb: 3rem;
$footer_mt: 2rem;
$footer_pb_a: 0rem;

$font-id: 5rem;
$font-p-size: 1.5rem;
